# Description: Slurm configuration for cluster
host: "hostname"
storage_dir: "/path/to/storage"
config_dir: "configurations"
repo_url: "git@github.com:username/repository.git"
data_dir: "/path/to/data"

# Apptainer exec args are used to mount directories inside the container.
apptainer_container: "/path/to/container.sif"
apptainer_exec_args:
  - "-B /path/to/local_storage:/path/to/local_storage"
  - "-B /path/to/project:/path/to/project"
  - "--env TQDM_MININTERVAL=30"

# Node specs are used to specify the resources needed for each job/or even each worker.
node_specs:
  cpu24:
    account: 'account_number'
    partition: 'partition_name'
    time: 1000
    cpus-per-task: 24
    gpus-per-task: 0
    mem-per-cpu: '5000MB'
    nodes: 1
    ntasks: 1
  gpu1:
    account: 'account_number'
    partition: 'partition_name'
    time: 1440
    cpus-per-task: 4
    gpus-per-task: 1
    mem-per-cpu: '5000MB'
    nodes: 1
    ntasks: 1
